<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            text-align: center;
            background-color: aquamarine;
            margin: auto;
            margin-top: 8%;

        }
    </style>
</head>
<body>
    <form method="post">
        {%csrf_token%}
     <label for="search">search</label>
     <input type="text" id="search" placeholder="ser" name="p">
     <button type="submit">search</button>
    </form>

    <h1 style="text-align: center;">BOOK DETAILS</h1>
    <table border="2px">
     <tr>
        <th>title</th>
        <th>author</th>
        <th>gere</th>
     </tr>
    
     {%for book in qs%}
      <tr>
        <td>{{book.title}} </td>
        <td>{{book.author}}</td>
        <td>{{book.genre}}</td>
        <td>
            <a href="{% url 'book-det' book.id %}">link</a>
        </td>
        <td>
            <a href="{% url 'book-b' book.id %}">delete</a>
        </td>
        <td>
            <a href="{% url 'book-c' book.id %}">update</a>
        </td>
       
       
      </tr>
    
    
    
     {%endfor%}
    </table>
    
</body>

</html>